body {background-color: rgb(7, 143, 255)}

.headerText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.defaultText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
}













