body {
    background-image: url('Images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.ifNoJS {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(143, 0, 0);
    text-align: center;
}

.headerTextNormal {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.headerTextCentered {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    text-align: center;
}

.warning {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 230, 0);
    text-align: center;
}


.defaultTextCentered {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.defaultTextNormal {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.buttonReveal {
    background-color: rgb(180, 221, 255);
    border: rgb(14, 0, 46);
    border-style: solid;
    color: rgb(9, 0, 94);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
  }

.buttonReveal:hover, .buttonReveal:active {
    background-color: rgb(111, 157, 255);
}

.tableText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgb(168, 213, 255);
    text-align: center;
}

.tableContent:link {
    color: rgb(255, 255, 255)
  }

.tableContent:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }

.tableContent:hover {
    color: rgb(0, 41, 155);
    background-color: transparent;
    text-decoration: underline;
}

.tableContent:active {
    color: rgb(0, 194, 10);
    background-color: transparent;
    text-decoration: underline;
}

.verify:hover {
    border-color: rgb(0, 41, 155);
    border: 5px;
    border-style: dashed;
}

.verify:visited {
    border-color: rgb(0, 41, 155);
    border: 5px;
    border-style: dashed;
}

.greenText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 214, 0);
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.image-wrapper:hover {
  border-color: rgb(9, 255, 0);
}

.image-wrapper:active {
  border-color: rgb(0, 41, 155);
}

.image-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: rgb(0, 41, 155);
  width: 920px;
  height: 692px;
  border: 5px;
  border-style: dashed;
}
